server:
  port: 8080


  
spring:
  application:
    name: ApiGateway

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/**      #http://localhost:8080/USER-SERVICE/user/getAll

        - id: product-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/**

        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/**

        - id: payment-service
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/**