server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service    # spring.application.name in service
          predicates:
            - Path=/user/**           # http://localhost:8080/user/getAll

        - id: product-service
          uri: lb://product-service
          predicates:
          - Path=/product/**          # http://localhost:8080/product/get-all

        - id: order-service
          uri: lb://order-service
          predicates:
          - Path=/order/**             # http://localhost:8080/order/get-all

        - id: payment-service
          uri: lb://payment-service
          predicates:
          - Path=/payment/**           # http://localhost:8080/payment/msg

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
